<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>导航内部滑动</title>
    <link rel="stylesheet" type="text/css" href="less/all.css">
    <link rel="stylesheet" type="text/css" href="js/lib/navigation/css/navigation-min.css">
</head>
<body id="J_Navigation">
<input type="hidden" id="dispatcher" value="home">
<div id="wrap">
    <h1>导航内部滑动demo</h1>
    <div id="J_NavList" class="ui-navigator">
        <div class="ui-scroller">
            <ul class="ui-navigator-list">
                <li><a href="#test1">首页</a></li>
                <li><a href="#test1">要闻</a></li>
                <li><a href="javascript:;">国内</a></li>
                <li><a href="#test2">国际</a></li>
                <li><a href="#test3">军事</a></li>
                <li><a href="#test4">社会</a></li>
                <li><a href="#test5">娱乐</a></li>
                <li><a href="#test6">女人</a></li>
                <li><a href="#">体育</a></li>
                <li><a href="#test7">科技</a></li>
                <li><a href="#test8">互联网</a></li>
                <li><a href="#test9">教育</a></li>
                <li class="ui-state-active"><a href="#">财经</a></li>
                <li><a href="#test11">房产</a></li>
                <li><a href="#test12">汽车</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="js/lib/zepto/zepto.min.js" type="text/javascript"></script>
<script src="js/seajs/sea.js?v=1.0.0" data-config="config.js?v=1.0.0" data-main="main.js?v=1.0.0" id="seajsFile"></script>
</body>
</html>